<configuration>

    <!-- в консоль -->
    <!-- фильтр -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.baylist.util.log.LogbackMask">
                <maskPattern><![CDATA[(?<=Bearer\s)([a-zA-Z0-9]+)]]></maskPattern> <!-- bearer mask pattern -->
                <charset>UTF-8</charset>
                <pattern>%d{HH:mm:ss.SSS} [%X{x-test-uid:-}] [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>