*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;

	font-family: "PT Sans", sans-serif;
	font-size: 62.5%;

	background-color: #182e4a;
/*	background-color: #12705d;*/
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
